body {
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  padding-top: 2rem;
  padding-left: 3rem;
}

.main {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-left: 5%;
}

.leaderboard-list {
  margin-right: 3rem;
  width: 40%;
}

.lead-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-left: 4%;
}

.refresh {
  float: right;
  padding-top: 0;
  box-shadow: 3px 5px rgba(66, 125, 173, 0.7);
  height: 2rem;
  margin-bottom: -2rem;
  border-radius: 1rem;
}

#lists {
  list-style: none;
  border: 3px solid rgba(66, 125, 173, 0.7);
  width: 100%;
}

.list-item:nth-child(even) {
  background-color: rgba(66, 125, 173, 0.7);
}

.list-item:hover {
  transform: scaleY(1.3);
  transition: grow 0.3s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

#submit {
  width: fit-content;
  margin-left: auto;
  border-radius: 1rem;
  box-shadow: 2px 4px rgba(66, 125, 173, 0.7);
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.dark-theme {
  background-color: #000;
  color: #fff;
}

#theme-toggle {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  border: 2px solid rgba(66, 125, 173, 0.7);
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}
